h1 {
  text-align: center;
}

form {
  text-align: center;
  margin: 0 auto;
}

#message {
  width: 60%;
  row: 1;
  padding: 0;
}

#send {
  display: block;
  margin: 0 auto;
}

#chat-area {
  width: 60%;
  height: 300px;
  background-color: lightgrey;
  margin: 1em auto;
}