h1 {
  text-align: center;
}

form {
  text-align: center;
  margin: 0 auto;
}

#message {
  width: 60%;
  padding: 0;
}

#chat-area {
  width: 60%;
  height: 300px;
  background-color: lightgrey;
  margin: 1em auto;
  overflow: scroll;
}

#answer {
  text-align: right;
}